<div class="card-form px-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mx-auto card-form-content py-5 px-4 my-5 shadow">
        <h3 class="fw-bold text-center mb-5"><%= t('.title') %></h3>
        <%= form_with model: @user do |f| %>
          <%= render partial: 'shared/error_messages', locals: {object: f.object} %>
          <%# 名前%>
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-user fa-lg me-3 fa-fw"></i>
            <%= f.text_field :name, class:'form-control', placeholder: User.human_attribute_name(:name) %>
          </div>
          <div class="form-text">※15文字以内で入力してください</div>
          <%# メールアドレス%>
          <div class="d-flex align-items-center mt-2">
            <i class="fa-solid fa-envelope fa-lg me-3 fa-fw"></i>
            <%= f.email_field :email, class: 'form-control flex-fill', placeholder: User.human_attribute_name(:email) %>
          </div>
          <%# パスワード%>
          <div class="d-flex align-items-center mt-4">
            <i class="fa-solid fa-lock fa-lg me-3 fa-fw"></i>
            <%= f.password_field :password, class: 'form-control flex-fill', placeholder: User.human_attribute_name(:password) %>
          </div>
          <div class="form-text">※8文字以上で入力してください</div>
          <%# パスワード確認%>
          <div class="d-flex align-items-center mt-2">
            <i class="fa-solid fa-key fa-lg me-3 fa-fw"></i>
            <%= f.password_field :password_confirmation, class: 'form-control flex-fill', placeholder: User.human_attribute_name(:password_confirmation) %>
          </div>
          <div class="text-center">
            <%= f.submit t('defaults.register'), class: 'btn btn-primary mt-4'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>