<div class="sticky-top bg-white shadow-sm">
  <header class="header py-3 d-flex justify-content-between">
    <%= link_to root_path, class: 'header-brand' do %>
      <%= image_tag 'brand_logo.svg', size: '100x50'%>
    <% end %>
    <div class="header-dropdown">
      <div class="header-dropdown-background" data-bs-toggle="dropdown">
        <%= image_tag 'dropdown_icon.svg', class:'header-dropdown-icon', size: '30x30'%>
      </div>
      <ul class="header-dropdown-menu dropdown-menu dropdown-menu-end shadow">
        <li>
          <%= link_to dishes_path, class:'header-dropdown-item dropdown-item' do %>
            <i class="fa-solid fa-magnifying-glass me-3 header-fontawesome"></i>
            <%= t('defaults.see_cooking_board') %>
          <% end %>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li class='text-center pb-2'>
          <%= image_tag '100x100.png', class: 'rounded-circle', size:'60x60' %>
        </li>
        <li>
          <%= link_to user_path(current_user.uuid), class:'header-dropdown-item dropdown-item' do %>
            <i class="fa-solid fa-utensils me-3 header-fontawesome"></i>
            <%= t('users.show.title') %>
          <% end%>
        </li>
        <li>
          <a class="header-dropdown-item dropdown-item"><i class="fa-solid fa-heart me-3 header-fontawesome"></i>いいねした料理</a>
        </li>
        <li>
          <%= link_to '#', class:'header-dropdown-item dropdown-item' do %>
            <i class="fa-solid fa-pen-to-square me-3 header-fontawesome"></i>
            <%= t('profiles.edit.title') %>
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, data: { turbo_method: :delete }, class: 'header-dropdown-item dropdown-item' do %>
            <i class="fa-solid fa-right-from-bracket me-3 header-fontawesome"></i>
            <%= t('defaults.logout') %>
          <% end %>
        </li>
      </ul>
    </div>
  </header>
</div>