<div class="failed-result">
  <%# アニメーション %>
  <ul class="white-circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="container text-center">
    <div class="row">
      <div class="py-4 mt-4 fs-5 fw-bold text-dark"><%= t('.title') %></div>
      <div class="col text-center mx-auto">
        <h3 class="text-center my-4 pb-5 px-3 fw-bold text-white"><%= dish.dish_name %></h3>
        <%= image_tag 'failed_result.svg', size: '300x300'%>
        <div class="text-white mt-5">
          <%= render partial: 'dishes/share_result', locals: { dish: dish } %>
        </div>
        <div class="col text-center mt-5 mb-4">
          <%= link_to t('defaults.re_generate'), root_path,class:'btn btn-outline-secondary' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-center mx-auto">
        <% unless logged_in? %>
          <p class='mb-5 mt-2 py-3 bg-white result-login fw-bold'><i class="fa-solid fa-lightbulb fs-4 text-primary me-2"></i><%= link_to t('defaults.login'), login_path, class: 'fw-bold' %>すると<br>次回から結果を保存できるよ</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
