<div class="ribbon py-4 mt-4 mb-1 fs-4 fw-bold"><%= t('.title') %></div>
<div class="result">
  <%# アニメーション %>
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h3 class="text-center my-4 result-dish-name py-5 px-3 fw-bold highlight"><%= dish.dish_name %></h3>
        <div class="text-center my-5 result-dish-image"><%= image_tag dish.dish_image_url %></div>
      </div>
    </div>
  </div>
</div>
<h5 class="text-center py-4 bg-primary shadow-sm text-white mb-0 fw-bold">▼ あなたの料理情報 ▼</h5>
<div class="card-form-bg-light-yellow px-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto card-form-content py-4 px-4 mt-4 mb-5 shadow">
        <%# 食材 %>
        <%= Ingredient.model_name.human %>
          <div class="row mb-4">
          <% dish.ingredients.each do |ingredient| %>
            <div class="col-md-4 mt-2">
              <div class="result-dish-content py-1 ps-2">
                <%= ingredient.name %>
              </div>
            </div>
          <% end %>
        </div>
        <%# 調理法 %>
        <%= CookingMethod.model_name.human %>
        <div class="row mb-4">
          <% dish.cooking_methods.each do |cooking_method| %>
            <div class="col-md-4 mt-2">
              <div class="result-dish-content py-1 ps-2">
                <%= cooking_method.name %>
              </div>
            </div>
          <% end %>
        </div>
        <%# 味付け %>
        <%= Seasoning.model_name.human %>
        <div class="row mb-4">
          <div class="col-md-4 mt-2">
            <div class="result-dish-content py-1 ps-2">
              <%= dish.seasoning.name %>
            </div>
          </div>
        </div>
        <%# 食感 %>
        <%= Texture.model_name.human %>
        <div class="row mb-4">
          <div class="col-md-4 mt-2">
            <div class="result-dish-content py-1 ps-2">
              <%= dish.texture.name %>
            </div>
          </div>
        </div>
        <%# カテゴリ %>
        <%= Category.model_name.human %>
        <div class="row mb-4">
          <div class="col-md-4 mt-2">
            <div class="result-dish-content py-1 ps-2">
              <%= dish.category.name %>
            </div>
          </div>
        </div>
        <%# ポイント(要素がない場合、表示させない) %>
        <% if dish.point.present? %>
          <%= Dish.human_attribute_name(:point) %>
          <div class="row mb-4">
            <div class="col-md-7 mt-2">
              <div class="result-dish-content py-1 ps-2">
                <%= dish.point %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%# SNSシェアリンク %>
    <%= render partial: 'dishes/share_result', locals: { dish: dish } %>
    <div class="row mt-5">
      <div class="col text-center">
        <%= link_to t('defaults.re_generate'), root_path,class:'btn btn-outline-secondary' %>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-3 text-center mx-auto">
        <%# ログイン/未ログインで表示を変化 %>
        <% if logged_in? %>
          <%= link_to t('.publish'), publish_dish_path, class: 'btn btn-primary', data: { turbo_method: :patch } %>
          <p class='mt-4 mb-5'>※公開すると掲示板から、<br>「<b class='highlight'>似た料理表示</b>」機能が使えるよ</p>
        <% else %>
          <div class='mt-2 mb-5 py-3 bg-white result-login '>
            <p class='fw-bold'><i class="fa-solid fa-lightbulb fs-4 text-primary me-2"></i><%= link_to t('defaults.login'), login_path, class: 'fw-bold' %>すると<br>結果を掲示板に公開できるよ</p>
            <p>※公開すると掲示板から、<br>「<b class='highlight'>似た料理表示</b>」機能が使えます</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>