<div class='similar-dish-mask hidden' data-similar-dish-target='mask' data-action='click->similar-dish#closeModal'></div>
<div class="similar-dish-modal hidden" data-similar-dish-target='modal'>
  <div class="card similar-dish-card">
    <div class="similar-dish-card-img-block">
      <%= image_tag similar_dish.dish_image.url(:dish_card), class:'card-img-top' %>
    </div>
    <div class="card-body pt-0">
      <%# 料理名 %>
      <h5 class="fw-bold"><%= link_to similar_dish.dish_name, dish_path(similar_dish.uuid), class:'similar-dish-card-title' %></h5>
      <%# アバター、ニックネーム %>
      <div class="d-flex align-items-center mt-3">
        <div class="flex-grow-1 d-flex align-items-center">
          <%= link_to user_path(similar_dish.user.uuid), class:'d-flex align-items-center similar-dish-card-link ' do %>
            <%= image_tag similar_dish.user.avatar.url , class: 'rounded-circle border border-3 similar-dish-card-avatar' %>
            <p class="similar-dish-card-text ms-3 mb-0"><%= similar_dish.user.name %></p>
          <% end %>
        </div>
      </div>
      <%# 日付 %>
      <p class="card-time text-end mb-0"><%= l similar_dish.created_at, format: :long, class:'text-right' %></p>
    </div>
  </div>
</div>
