<%= form_with model: @dish do |f| %>
  <%= render partial: 'shared/error_messages', locals: {object: f.object} %>
  <div class="contaier my-5">
    <div class="row">
      <div class="col-3 mx-auto">
        <%# ステータス %>
        <%= f.label :state, class: 'form-label', include_blank: false %>
        <%= f.select :state, Dish.states_i18n.invert, {}, class: 'form-select' %>
      </div>
    </div>
    <div class="row">
      <div class="col-3 mx-auto mt-4">
        <%# 料理写真 %>
        <%= f.label :dish_image, class: 'form-label' %>
        <%= f.file_field :dish_image, class: 'form-control', accept: 'image/*' %>
        <%= f.hidden_field :dish_image_cache %>
        <div class="result-dish-image my-4"><%= image_tag @dish.dish_image.url, id: 'preview', size: '360x270' %></div>
      </div>
    </div>
    <div class="text-center mx-auto"">
      <%= f.submit t('defaults.update'), class: 'btn btn-primary mt-3 py-3 fs-6' %>
    </div>
  </div>
<% end %>