<%# heroセクション %>
<div class="hero d-flex align-items-center bg-primary">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <div class="hero-foods-1 d-flex">
          <div class="hero-food"><%= image_tag 'foods/bowl-food.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/carrot.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/fish.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/egg.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/apple.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/cheese.svg', size: '90x90' %></div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="mx-auto">
        <div class="hero-foods-2 d-flex justify-content-between">
          <div class="hero-food"><%= image_tag 'foods/utensils.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/pepper-hot.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/shrimp.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/bowl-rice.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/lemon.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/burger.svg', size: '90x90' %></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= image_tag 'hero_image_2.svg', size: '400x220', class:'hero-image' %>
      </div>
    </div>
  </div>
</div>
<%# main-contetntセクション %>
<div class="main-content pb-5">
  <h5 class="main-content-title fw-bold text-center pt-5 pb-4">▼ 料理情報を入力しよう ▼</h5>
    <%= form_with model: @dish do |f| %>
      <%# 食材 %>
      <div class="ingredient">
        <div class="container">
          <%= Ingredient.model_name.human %>
          <div class="row mb-4">
            <div class="col-md-4 mt-3">
              <%= f.text_field :name_1 ,class:'form-control', placeholder: '昨日の残りのやきとり' %>
            </div>
            <div class="col-md-4 mt-3">
              <%= f.text_field :name_2, class:'form-control', placeholder: '玉ねぎ'%>
            </div>
            <div class="col-md-4 mt-3">
              <%= f.text_field :name_3, class:'form-control', placeholder: 'トマト' %>
            </div>
            <div class="form-text">※食材は1つ以上、各15文字以内で入力してください</div>
          </div>
        </div>
      </div>
      <%# 調理法 %>
      <div class="cooking_method">
        <div class="container">
          <%=  CookingMethod.model_name.human  %>
          <div class="row mt-3 mb-4">
            <%= render partial: 'cooking_method', collection: @cooking_methods ,locals: { f: f} %>
          </div>
        </div>
      </div>
      <%# 味付け %>
      <div class="seasoning">
        <div class="container">
          <%=  Seasoning.model_name.human %>
          <div class="row mt-3 mb-4">
            <%= render partial: 'seasoning', collection: @seasonings, locals: {f: f} %>
          </div>
        </div>
      </div>
      <%# 食感 %>
      <div class="texture">
        <div class="container">
          <%=  Texture.model_name.human %>
          <div class="row mt-3 mb-4">
            <%= render partial: 'texture', collection: @textures, locals: {f: f} %>
          </div>
        </div>
      </div>
      <%# カテゴリー %>
      <div class="category">
        <div class="container">
          <%=  Category.model_name.human %>
          <div class="row mt-3 mb-4">
            <%= render partial: 'category', collection: @categories, locals: {f: f} %>
          </div>
        </div>
      </div>
      <%# こだわりポイント %>
      <div class="point">
        <div class="container">
          <div class="row mt-3 mb-4">
            <div class="col-lg-6">
              <%= f.label :point, class: 'form-label' %>
              <%= f.text_field :point, class: 'form-control mt-2', placeholder: '赤ワインを入れて煮込む'%>
              <div class="form-text">※20文字以内で入力してください</div>
            </div>
          </div>
        </div>
      </div>
      <%# 料理写真 %>
      <div class="container">
        <div class="row mt-3 mb-4">
          <div class="col-lg-6">
            <%= f.label :dish_image, class: 'form-label' %>
            <%= f.file_field :dish_image, class: 'form-control mt-2', accept: 'image/*' %>
            <%= f.hidden_field :dish_image_cache %>
            <div class="form-text">写真をアップロードして、自慢の一品を広めましょう！</div>
            <div class="form-text">名前をつけた後にシェアできます！</div>
            <div class="result-dish-image my-4"><%= image_tag @dish.dish_image.url, id: 'preview' %></div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <%= f.submit t('.generate'), class: 'btn btn-secondary mt-3 py-3 fs-6' %>
      </div>
    <% end %>
  </div>
</div>