<div class="hero d-flex align-items-center bg-primary">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <div class="hero-foods-1 d-flex">
          <div class="food"><%= image_tag 'foods/carrot.svg', size: '80x80' %></div>
          <div class="food"><%= image_tag 'foods/fish.svg', size: '80x80' %></div>
          <div class="food"><%= image_tag 'foods/egg.svg', size: '80x80' %></div>
          <div class="food"><%= image_tag 'foods/apple.svg', size: '80x80' %></div>
          <div class="food"><%= image_tag 'foods/cheese.svg', size: '80x80' %></div>
          <div class="food"><%= image_tag 'foods/lemon.svg', size: '80x80' %></div>
          <div class="food"><%= image_tag 'foods/bottle.svg', size: '80x80' %></div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="mx-auto">
        <div class="hero-foods-2 d-flex justify-content-between">
          <div class="food"><%= image_tag 'foods/pepper-hot.svg', size: '80x80' %></div>
          <div class="food"><%= image_tag 'foods/shrimp.svg', size: '80x80' %></div>
          <div class="food"><%= image_tag 'foods/utensils.svg', size: '80x80' %></div>
          <div class="food"><%= image_tag 'foods/wine-glass.svg', size: '80x80' %></div>
          <div class="food"><%= image_tag 'foods/wheat-awn.svg', size: '80x80' %></div>
          <div class="food"><%= image_tag 'foods/bowl-rice.svg', size: '80x80' %></div>
          <div class="food"><%= image_tag 'foods/ice-cream.svg', size: '80x80' %></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 class="title fw-bold">名もなき日常料理に<br>名前をつけて遊ぼう</h3>
      </div>
    </div>
  </div>
</div>