<%# heroセクション %>
<div class="hero d-flex align-items-center bg-primary">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <div class="hero-foods-1 d-flex">
          <div class="hero-food"><%= image_tag 'foods/bowl-food.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/carrot.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/fish.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/egg.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/apple.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/cheese.svg', size: '90x90' %></div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="mx-auto">
        <div class="hero-foods-2 d-flex justify-content-between">
          <div class="hero-food"><%= image_tag 'foods/utensils.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/pepper-hot.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/shrimp.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/bowl-rice.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/lemon.svg', size: '90x90' %></div>
          <div class="hero-food"><%= image_tag 'foods/burger.svg', size: '90x90' %></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="hero-title-1 fw-bold">名もなき料理に</h2>
        <h2 class="hero-title-2 fw-bold">名前をつけて遊ぼう</h2>
      </div>
    </div>
  </div>
</div>

<%# main-contetntセクション %>
<div class="main-content">
  <h5 class="main-content-title fw-bold text-center pt-5 pb-4">▼ 料理情報を入力しよう ▼</h5>
  <div class="container">
    <%= form_with model: @dish do |f| %>
      <div class="row">
        <%= f.fields_for :ingredient do |ingredient_f| %>
          <div class="col-md-4">
            <%= ingredient_f.label :name_1%>
            <%= ingredient_f.text_field :name_1 ,class:'form-control', placeholder: 'トマト'%>
          </div>
          <div class="col-md-4">
            <%= ingredient_f.label :name_2 %>
            <%= ingredient_f.text_field :name_2, class:'form-control', placeholder: '牛肉'%>
          </div>
          <div class="col-md-4">
            <%= ingredient_f.label :name_3%>
            <%= ingredient_f.text_field :name_3, class:'form-control', placeholder: 'かまぼこ' %>
          </div>
          <div id="emailHelp" class="form-text">食材は、1つ以上入力してください。</div>
        <% end %>
      </div>
      <div class="row mt-3">
        <%= f.fields_for :ingredient do |ingredient_f| %>
          <div class="col-md-4">
            <%= ingredient_f.label :name_1%>
            <%= ingredient_f.text_field :name_1 ,class:'form-control', placeholder: 'トマト'%>
          </div>
          <div class="col-md-4">
            <%= ingredient_f.label :name_2 %>
            <%= ingredient_f.text_field :name_2, class:'form-control', placeholder: '牛肉'%>
          </div>
          <div class="col-md-4">
            <%= ingredient_f.label :name_3%>
            <%= ingredient_f.text_field :name_3, class:'form-control', placeholder: 'かまぼこ' %>
          </div>
          <div id="emailHelp" class="form-text">食材は、1つ以上入力してください。</div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>