<div class="ribbon py-4 mb-1 text-primary fw-bold fs-4">あなたの料理名は...</div>
<div class="result">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <h3 class="text-center my-4 result-dish-name py-4 shadow px-3 text-secondary fw-bold"><%= @dish.dish_name %></h3>
        <div class="text-center my-5"><%= image_tag 'dish-1.jpg', size: '280x210' %></div>
      </div>
    </div>
  </div>
</div>
<div class="input-form aa">
  <h5 class="main-content-title fw-bold text-center py-4 text-white bg-secondary">▼ あなたの料理情報 ▼</h5>
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto input-form-content py-4 px-4 mt-4 mb-5 shadow">
        <%# 食材 %>
        <%= Ingredient.model_name.human %>
        <div class="row mb-4">
          <div class="col-md-4 mt-2">
            <%# 要素がない場合、cssのborderを表示させたくないため、条件分岐させる%>
            <% if @dish.ingredient.name_1.present? %>
              <div class="result-dish-content fw-bold fs-6 py-1 ps-2 shadow"><%= @dish.ingredient.name_1 %></div>
            <% end %>
          </div>
          <div class="col-md-4 mt-2">
            <% if @dish.ingredient.name_2.present? %>
              <div class="result-dish-content fw-bold fs-6 py-1 ps-2 shadow"><%= @dish.ingredient.name_2 %></div>
            <% end %>
          </div>
          <div class="col-md-4 mt-2">
            <% if @dish.ingredient.name_3.present? %>
              <div class="result-dish-content fw-bold fs-6 py-1 ps-2 shadow"><%= @dish.ingredient.name_3 %></div>
            <% end %>
          </div>
        </div>
        <%# 調理法 %>
        <%= CookingMethod.model_name.human %>
        <div class="row mb-4">
            <% @dish.cooking_methods.each do |cooking_method| %>
              <div class="col-md-4 mt-2">
                <div class="result-dish-content fw-bold fs-6 py-1 ps-2 shadow">
                  <%= cooking_method.name %>
                </div>
              </div>
            <% end %>
        </div>
        <%# 味付け %>
        <%= Seasoning.model_name.human %>
        <div class="row mb-4">
          <div class="col-md-4 mt-2">
            <div class="result-dish-content fw-bold fs-6 py-1 ps-2 shadow">
              <%= @dish.seasoning.name %>
            </div>
          </div>
        </div>
        <%# 食感 %>
        <%= Texture.model_name.human %>
        <div class="row mb-4">
          <div class="col-md-4 mt-2">
            <div class="result-dish-content fw-bold fs-6 py-1 ps-2 shadow">
              <%= @dish.texture.name %>
            </div>
          </div>
        </div>
        <%# カテゴリ %>
        <%= Category.model_name.human %>
        <div class="row mb-4">
          <div class="col-md-4 mt-2">
            <div class="result-dish-content fw-bold fs-6 py-1 ps-2 shadow">
              <%= @dish.category.name %>
            </div>
          </div>
        </div>
        <%# ポイント(要素がない場合、表示させない) %>
        <% if @dish.point.present? %>
          <%= Dish.human_attribute_name(:point) %>
          <div class="row mb-4">
            <div class="col-md-4 mt-2">
              <div class="result-dish-content fw-bold fs-6 py-1 ps-2 shadow">
                <%= @dish.point %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>