<h4 class="text-center py-5 bg-primary fw-bold text-white mb-1">あなたの料理名は...</h4>
<div class="result">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="text-center my-4 result-dish-name py-4 fw-bold">「 <%= @dish.dish_name %> 」</h3>
        <div class="text-center my-5"><%= image_tag '280x210.png' %></div>
      </div>
    </div>
  </div>
</div>
<h5 class="main-content-title fw-bold text-center pt-5 pb-3">▼ あなたの料理情報 ▼</h5>
<div class="container mt-4">
  <%= Ingredient.model_name.human %>
  <div class="row mt-2 mb-4">
    <div class="col-md-4">
      <div class="dish-content fw-bold fs-5"><%= @dish.ingredient.name_1 %></div>
    </div>
    <div class="col-md-4">
      <div class="dish-content fw-bold fs-5"><%= @dish.ingredient.name_2 %></div>
    </div>
    <div class="col-md-4">
      <div class="dish-content fw-bold fs-5"><%= @dish.ingredient.name_3 %></div>
    </div>
  </div>
  <%= CookingMethod.model_name.human %>
  <div class="row mt-2 mb-4">
      <% @dish.cooking_methods.each do |cooking_method| %>
        <div class="col-md-4">
          <%= cooking_method.name %>
        </div>
      <% end %>
  </div>
  <%= Seasoning.model_name.human %>
  <div class="row mt-2 mb-4">
    <div class="col">
      <%= @dish.seasoning.name %>
    </div>
  </div>
  <%= Texture.model_name.human %>
  <div class="row mt-2 mb-4">
    <div class="col">
      <%= @dish.texture.name %>
    </div>
  </div>
  <%= Category.model_name.human %>
  <div class="row mt-2 mb-4">
    <div class="col">
      <%= @dish.category.name %>
    </div>
  </div>
  <%= Dish.human_attribute_name(:point) %>
  <div class="row mt-2 mb-4">
    <div class="col">
      <%= @dish.point %>
    </div>
  </div>
</div>