<table class="table table-striped">
  <thead>
    <tr>
      <th class='col-1'><%= t('.id')%></th>
      <th class='col-7'><%= t('.name')%></th>
      <th class='col-2'><%= t('.email')%></th>
      <th class='col-2'>処理</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'admin/users/user', collection: @users %>
  </tbody>
</table>
<%= paginate @users %>