<% content_for :title, t('.title')%>
<div class="card-form pb-4 px-3">
  <div class="container mb-4">
    <div class="row">
      <div class="col-md-4 mx-auto card-form-content py-5 px-4 my-5 shadow">
        <h3 class="fw-bold text-center mb-5"><%= t('.title') %></h3>
        <%= form_with url: login_path do |f| %>
          <%# メールアドレス%>
          <div class="d-flex align-items-center mt-2">
            <i class="fa-solid fa-envelope fa-lg me-3 fa-fw"></i>
            <%= f.email_field :email, class: 'form-control flex-fill', placeholder: User.human_attribute_name(:email) %>
          </div>
          <%# パスワード%>
          <div class="d-flex align-items-center mt-4 mb-2">
            <i class="fa-solid fa-lock fa-lg me-3 fa-fw"></i>
            <%= f.password_field :password, class: 'form-control flex-fill', placeholder: User.human_attribute_name(:password) %>
          </div>
          <div class="text-end mt-2">
            <%= link_to t('.forget_password'), new_password_reset_path %>
          </div>
          <div class="text-center">
            <%= f.submit t('defaults.login'),class: 'btn btn-primary mt-4'%>
          </div>
        <% end %>
        <div class='border-bottom mt-4'></div>
        <%# googleログイン %>
        <div class="text-center mt-4">
          <%= link_to auth_at_provider_path(provider: :google) do %>
            <%= image_tag 'btn_google_signin.png', size: '210x50', class: 'google-login-button' %>
          <% end %>
        </div>
        <%# LINEログイン(アドレス取得権限もらえたら実装) %>
        <%# <div class="text-center mt-4"> %>
          <%# link_to auth_at_provider_path(provider: :line) do %> 
            <%# image_tag 'btn_login_base.png', size: '154x45', class: 'line-login-button' %>
          <%# end %>
        <%# </div> %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center mx-auto">
        <h5 class="fw-bold text-center mb-3"><%= t('.new_user') %></h5>
        <%= link_to t('.register'), sign_up_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>